div{
	margin: 5px 5px 5px 5px;
	text-align: center;
}

#bodycoreo{
	margin: 5px 5px 5px 5px;
	text-align: center;
	background-color: purple;
}

#divcoreo2{
	margin: 5px 5px 5px 5px;
	text-align: center;
	background-color: purple;
}

#titulocoreo{
	color: white;
	font-family: "Gill Sans MT Condensed";
	font-size: 25px;
	align-items: center;
}

#textcoreo{
	color: white;
	font-family: "Gill Sans MT Condensed";
	text-transform: uppercase;
	font-size: 20px;
	align-items: center;
}

#coreografia{
	background-color: black;
	opacity: 0.7;
	font-family: "Gill Sans MT Condensed";
	font-color: white;
}

h1{
	color: purple;
	font-family: "Gill Sans MT Condensed";
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
}

h2{
	color: purple;
	font-family: "Gill Sans MT Condensed";
	font-size: 30px;
	font-weight: lighter;
	text-align: justify-all;
}

#username, #password{
	background: #c8a2c8;
	color: darkgray;
	font-family: "Gill Sans MT Condensed";
	text-align: center;
	width: 200px;
	height: 20px;
}

#inputCoreo{
	background: #c8a2c8;
	color: black;
	font-family: "Gill Sans MT Condensed";
	text-align: center;
	width: 200px;
	height: 20px;
}

#submitButton{
	background-color: purple;
	color: white;
	font-family: "Gill Sans MT Condensed";
	font-size: 22px;
	align-items: center;
	width: 200px;
	height: 40px;
}

#menuButton{
	background-color: purple;
	color: white;
	font-family: "Gill Sans MT Condensed";
	align-items: center;
	font-size: 22px;
	width: 200px;
	height: 50px;
	margin: 10px 10px 10px 10px;
}

.icon{
	width: 30px;
	height: 30px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.loginBtn--facebook {
	width: 50px;
	height: 50px;
  /*background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  /*text-shadow: 0 -1px 0 #354C8C;*/
}

#fotoGal{
	width: 100px;
}